@page "/"

<h1 class="bg-info text-white">Check below links</h1>

<p><a href="/ManageSchool" target="_blank">Manage School</a></p>
<p><a href="/ManageLocation" target="_blank">Manage Location</a></p>
<p><a href="/CreateStudent" target="_blank">Create Student</a></p>
<p><a href="/ReadStudent" target="_blank">Read Student</a></p>
<p><a href="/ReadStudentPS" target="_blank">Read Student (Paging & Sorting)</a></p>

